.articles {
  height: 860px;
  text-align: center;
}

.article {
  margin: 26px auto 0 auto;
  width: 941px;
  height: 140px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.pagination {
  text-align: center;
}
