$background-color-base: #FFFFFF;

.header{
    background-color: $background-color-base;
    padding:0 22px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;
    text-align: center;
}

.header__nav{
    display: flex;
}

.header__nav li{
    list-style: none;
}

.header__nav_link {
    vertical-align: baseline;
}