$background-color-base: #ffffff;
$unsafe-operation: #f5222d;
$safe-operation: #52c41a;

.header {
  background-color: $background-color-base;
  padding: 0 22px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 80px;
  text-align: center;
}

.card__avatar {
  margin-left: 13px;
}

.header__nav {
  margin: auto 0;
  display: flex;
  align-items: center;
}

.header__nav_item {
  list-style: none;
}


.header__nav_link_small {
  margin-left: 8px;
  box-sizing: border-box;
  padding: 6px 12px;
  color: #52c41a;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  width: 160px;
  background-color: $background-color-base;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid $safe-operation;
  box-sizing: border-box;
  border-radius: 5px;
}

.header__nav_wrapper {
  margin: auto 0;
  display: flex;
  align-items: center;
}

.header__link_flat {
  box-sizing: border-box;
  padding: 12px;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  cursor: pointer;
  width: 160px;
  background-color: $background-color-base;
  text-align: center;
  vertical-align: bottom;
  box-sizing: border-box;
  border-radius: 5px;
}

.header__home_link button {
    margin-left: 8px;
    box-sizing: border-box;
    padding: 16px 12px;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    cursor: pointer;
    width: 160px;
    background-color: $background-color-base;
    text-align: center;
    vertical-align: bottom;
    border: 1px solid $safe-operation;
    box-sizing: border-box;
    border-radius: 5px;
  
}

.header__nav_button-log-out {
  margin-left: 27px;
  box-sizing: border-box;
  padding: 12px;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  cursor: pointer;
  width: 160px;
  background-color: $background-color-base;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

.header__nav_link-sign-up{
  margin-left: 8px;
  box-sizing: border-box;
  padding: 16px 12px;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: $safe-operation;
  cursor: pointer;
  width: 160px;
  background-color: $background-color-base;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid $safe-operation;
  box-sizing: border-box;
  border-radius: 5px;
}