$info-color: #1890ff;
$background-color-base: #ffffff;
$unsafe-operation: #f5222d;
$safe-operation: #52c41a;

.article {
  position: relative;
  margin: 24px auto 0 auto;
  width: 941px;
  height: 860px;
  background-color: $background-color-base;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.article__header_filter {
  top: 40px;
  position: absolute;
  width: 682px;
  height: 60px;
  z-index: 2;
  background-color: #fff;
  opacity: 0.5;
}

.article__main {
  width: 941px;
  height: 650px;
  padding: 0 42px 0 19px;
  overflow-y: scroll;
}

.article__menu {
  position: absolute;
  right: 0;
  top: 93px;
}
.article__menu_button--delete {
  margin-right: 12px;
  padding: 6px 17px;
  border: 1px solid $unsafe-operation;
  border-radius: 5px;
  color: $unsafe-operation;
}

.article__menu_button--edit {
  margin-right: 12px;
  padding: 6px 17px;
  border: 1px solid $safe-operation;
  border-radius: 5px;
  color: $safe-operation;
}
